  <app-header></app-header>
  
  <div class="content" role="main">
    <div class="homescreen-container">
      <div class="homescreen-column">
        <div style="color: #0140BC; font-size: 20px;">
          Select an option to start
        </div>
        <div class="button-container">
        <button routerLink="account-number" class="homescreen-column-button">
          Enter Your Account Number
        </button>
        <button routerLink="phone-number" class="homescreen-column-button" style="margin-top: 20px;">
          Enter Your Phone Number
        </button>
      </div>
      </div>
  
      <!-- QR CODE -->
      <div  class="homescreen-qr-column">
        <div  class="homescreen-qr-section">
          <h2>Scan QR Code</h2>
          <div style="text-align: center; margin-top: 30px; font-size: 10px; max-width: 210px;">
            Now, scan a digitally secure QR code with your phone to access paperless portal 
          </div>
          <div>
            <img src="../assets/images/qrCode.jpg" style="width: 150px; height: 150px; margin-top: 30px;"/>
          </div>
          <div style="margin-top: 10px; font-size: 10px;">
            This code expires in 2:45 mins
          </div>
        </div>
      </div>
  
    </div>
  
    
  
  
    <input type="hidden" #selection>
  
    
  
  </div>
  
  