
<app-header></app-header>

<div class="content">
    <div class="header-div" routerLink="/login">
      <div>
        <img src="../../../../../assets/images/Vector (2).svg"/>
        <img src="../../../../../assets/images/Placeholder.svg" class="header-vector"/>
      </div>
      <div class="header-text">
        Enter Your Phone Number
      </div>
    </div>

  <div class="header-container">
    <div class="form-container">
      <form>
        <mat-form-field  style="width: 350px">
          <input matInput autocomplete="off" [formControl]="phoneNumberControl" placeholder="Phone Number"  inputmode="numeric"  mask="000 0000 000" matInput>
        </mat-form-field>
      </form>
    </div>

    <button class="submit-button" (click)="submitForm()">
      Submit
    </button>
  </div>
  
 
    
</div>


 